<section>
  <!-- <div
  class={`relative h-screen  bg-[linear-gradient(to_top,rgba(0,0,0,1),transparent),url('/homepage/hero-image.jpg')] bg-cover bg-center`}
  > -->
  <div class={`relative h-screen overflow-hidden`}>
    <video
      autoplay
      loop
      muted
      playsinline
      class="absolute inset-0 w-full h-full object-cover"
    >
      <source src="/videos/home_screen_video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div
      class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-black/40"
    >
    </div>
    <div class="absolute inset-0 p-6">
      <h1 class="text-white text-6xl font-light mt-4 w-1/2">
        Bringing the home of <br /> your dream to reality.
      </h1>
    </div>
  </div>

  <div class="max-w-4xl mx-auto text-center my-60 px-6">
    <p class="text-white text-4xl font-semibold leading-12">
      With unlimited creativity, <em class="font-thin"
        >we transform your vision into reality, inviting you to</em
      > discover a universe of unique and memorable <em class="font-thin"
        >experiences</em
      >.
    </p>
    <p class="text-white text-md font-light mt-10 w-[60%] mx-auto">
      Every detail is designed to capture the essence of your style and turn the
      space into a reflection of your own identity.
    </p>
  </div>
</section>
