---
import { MdOutlineLocalPhone } from "react-icons/md";
import { CiMail } from "react-icons/ci";
import { CiLocationOn } from "react-icons/ci";
import FAQ from "../FAQ.astro";
---

<section class="about mb-10 md:mb-28">
  <div class="hidden md:grid grid grid-cols-2">
    <div class="p-10">
      <h1 class="contact-heading text-white text-6xl font-light">
        Let's talk more <br /> about your next project.
      </h1>
      <div class="contact-info mt-50 flex flex-col items-start">
        <div
          class="flex items-center text-white bg-white/20 overflow-hidden rounded-md mb-2 hover:bg-white/10 transition-all duration-300 ease-in-out cursor-pointer"
        >
          <div class="bg-white/20 p-1">
            <MdOutlineLocalPhone size={30} />
          </div>
          <p class="px-4">+91 999988 83169</p>
        </div><div
          class="flex items-center text-white bg-white/20 overflow-hidden rounded-md mb-2 hover:bg-white/10 transition-all duration-300 ease-in-out cursor-pointer"
        >
          <div class="bg-white/20 p-1">
            <CiMail size={30} />
          </div>
          <p class="px-4">info.zookstudio@gmail.com</p>
        </div><div
          class="flex items-center text-white bg-white/20 overflow-hidden rounded-md mb-2 hover:bg-white/10 transition-all duration-300 ease-in-out cursor-pointer"
        >
          <div class="bg-white/20 p-1">
            <CiLocationOn size={30} />
          </div>
          <p class="px-4">
            A 401 - 402, Hari villa, Near kairavi bungalows, Bodakdev, Ahemdabad
            - 380054
          </p>
        </div>
      </div>
    </div>
    <div class="relative">
      <div
        class="absolute w-full inset-0 bg-gradient-to-t from-black via-transparent to-black/40"
      >
      </div><img
        src="/homepage/contact-image.jpg"
        alt="furniture image"
        class="contact-image w-full"
      />
    </div>
  </div>

  <!-- for mobile sections -->
  <div
    class={`hero-image-container block md:hidden relative h-screen  bg-[linear-gradient(to_top,rgba(0,0,0,1),transparent),url('/homepage/hero-image.jpg')] bg-cover bg-center`}
  >
    <div class="absolute bottom-10 p-6 w-full flex items-center justify-center">
      <div>
        <p
          class="title-tag text-white tracking-[0.4em] ml-1 text-center uppercase font-light"
        >
          Zook Studio
        </p>
        <h1
          class="hero-heading w-full text-white text-center text-4xl font-light md:text-start md:text-7xl md:font-light mb-2"
        >
          Let's talk more about your new project
        </h1>
        <div class="contact-info flex flex-col items-center md:items-start">
          <div
            class="flex items-center text-white bg-white/20 overflow-hidden rounded-md mb-2 hover:bg-white/10 transition-all duration-300 ease-in-out cursor-pointer"
          >
            <div class="bg-white/20 p-1">
              <MdOutlineLocalPhone size={20} />
            </div>
            <p class="text-sm px-4">+91 999988 83169</p>
          </div><div
            class="flex items-center text-white bg-white/20 overflow-hidden rounded-md mb-2 hover:bg-white/10 transition-all duration-300 ease-in-out cursor-pointer"
          >
            <div class="bg-white/20 p-1">
              <CiMail size={20} />
            </div>
            <p class="px-4 text-sm">info.zookstudio@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<FAQ />

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger, SplitText } from "gsap/all";
  gsap.registerPlugin(ScrollTrigger, SplitText);

  const titleSplit = SplitText.create(".contact-heading", {
    type: "words,chars,lines",
  });
  const contactInfoSplit = SplitText.create(".contact-info", {
    type: "lines",
  });
  gsap.from(titleSplit.lines, {
    opacity: 0,
    duration: 1,
    xPercent: -100,
    ease: "expo.out",
    stagger: 0.2,
  });

  gsap.from(contactInfoSplit.lines, {
    opacity: 0,
    duration: 1,
    delay: 0.5,
    xPercent: -100,
    ease: "expo.out",
    stagger: 0.2,
  });

  gsap.from(".contact-image", {
    opacity: 0,
    duration: 1,
    delay: 0.3,
    xPercent: 100,
    ease: "expo.out",
    stagger: 0.2,
  });
</script>
