<section class="section-faq text-white py-10 md:py-28">
  <div class="grid grid-cols-1 md:grid-cols-4">
    <div
      class="faq-col-1 bg-white/16 md:min-h-150 p-10 md:p-4 lg:p-10 flex flex-col"
    >
      <h2 class="text-5xl lg:text-9xl font-bold mb-4">FAQ</h2>
      <p
        class="mt-auto text-2xl mg:text-md lg:text-2xl font-bold mb-1 transition-all duration-300 ease-in-out"
      >
        Having Another questions?
      </p>
      <div
        class="hidden md:block cursor-pointer overflow-hidden text-xl md:text-sm lg:text-xl text-light transition-all duration-300 ease-in-out"
      >
        <p class="inline-block relative group font-light border-b">
          <span
            class="inline-block absolute -bottom-8 left-0 opacity-0 group-hover:bottom-0 group-hover:opacity-100 transition-all duration-300"
            >info.zookstudio@gmail.com
          </span>
          <span
            class="inline-block group-hover:-translate-y-10 group-hover:opacity-0 transition-all duration-300"
            >send message here
          </span>
        </p>
      </div>
      <p class="block md:hidden font-light border-b">
        info.zookstudio@gmail.com
      </p>
    </div>
    <div
      class="faq-questions-container col-span-3 px-2 md:px-10 py-4 self-center"
    >
      <div
        class="faq-question border-b border-white/30 group cursor-pointer hover:bg-white/10 transition-all duration-300 ease-in-out"
      >
        <div
          class="flex items-start gap-4 md:gap-10 py-6 group-hover:p-6 group-hover:pb-2 transition-all duration-600 ease-in-out"
        >
          <p class="text-white/50 font-light text-xl">01</p>
          <h3 class="text-lg font-light lg:text-3xl -tracking-[1px]">
            What service do you offer at zook studio?
          </h3>
          <p class="ml-auto bg-white/20 p-2 px-4 rounded-full text-xl">+</p>
        </div>
        <div
          class="max-h-0 overflow-hidden opacity-0 group-hover:max-h-fit group-hover:opacity-100 group-hover:p-6 transition-all duration-300 ease-in-out"
        >
          <p class="text-sm w-[80%] mb-6">
            ZOOK studio offers a full range of interior design services,
            tailored for both the residential and commercial sectors, with a
            focus on high-end projects. Services include conceptual design,
            expert consultancy, project management and complete execution from
            initial sketch to final delivery. We also handle the coordination of
            every detail, including material selection, custom furnishings and
            the integration of innovative technological solutions to create
            unique and functional spaces.
          </p>
        </div>
      </div>

      <div
        class="faq-question border-b border-white/30 group cursor-pointer hover:bg-white/10 transition-all duration-300 ease-in-out"
      >
        <div
          class="flex items-start gap-4 md:gap-10 py-6 group-hover:p-6 group-hover:pb-2 transition-all duration-300 ease-in-out"
        >
          <p class="text-white/50 font-light text-xl">02</p>
          <h3 class="text-lg font-light lg:text-3xl -tracking-[1px]">
            Do I need to be involved in every detail of the design process?
          </h3>
          <p class="ml-auto bg-white/20 p-2 px-4 rounded-full text-xl">+</p>
        </div>
        <div
          class="max-h-0 overflow-hidden opacity-0 group-hover:max-h-fit group-hover:opacity-100 group-hover:p-6 transition-all duration-300 ease-in-out"
        >
          <p class="text-sm w-[80%] mb-6">
            Involvement in the design process depends on the chosen service
            package. For those who prefer to save time and avoid stress, we
            offer turn-key project services and customized procurement
            concierge, ensuring an effortless experience. In these cases, the
            client's role is more one of approving and overseeing key
            milestones, with the client always in control of the
            decision-making.
            <br />
            In other words, we become your advocate throughout the entire interior
            design process, managing every detail and protecting your interests so
            that you can enjoy a perfect end result without getting involved in every
            logistical detail.
          </p>
        </div>
      </div>
      <div
        class="faq-question border-b border-white/30 group cursor-pointer hover:bg-white/10 transition-all duration-300 ease-in-out"
      >
        <div
          class="flex items-start gap-4 md:gap-10 py-6 group-hover:p-6 group-hover:pb-2 transition-all duration-300 ease-in-out"
        >
          <p class="text-white/50 font-light text-xl">03</p>
          <h3 class="text-lg lg:text-3xl font-light -tracking-[1px]">
            What interior design styles do you approach?
          </h3>
          <p class="ml-auto bg-white/20 p-2 px-4 rounded-full text-xl">+</p>
        </div>
        <div
          class="max-h-0 overflow-hidden opacity-0 group-hover:max-h-fit group-hover:opacity-100 group-hover:p-6 transition-all duration-300 ease-in-out"
        >
          <p class="text-sm w-[80%] mb-6">
            ZOOK studio addresses a wide range of interior design styles, from
            Wabi Sabi and Japandi to Glamour, Industrial, Luxury, Minimalism,
            Nordic and Contemporary. Each project is customized to reflect the
            client's preferences and the unique characteristics of the space.
            <br />
            We are recognized for creating our own style – Industrial Luxury. It
            combines cool materials such as metal, concrete and stone with warm elements
            such as marble, leather and wood, resulting in a unique aesthetic that
            defines timeless spaces with strong visual impact and subtle sophistication.
          </p>
        </div>
      </div>
      <div
        class="faq-question border-b border-white/30 group cursor-pointer hover:bg-white/10 transition-all duration-300 ease-in-out"
      >
        <div
          class="flex items-start gap-4 md:gap-10 py-6 group-hover:p-6 group-hover:pb-2 transition-all duration-300 ease-in-out"
        >
          <p class="text-white/50 font-light text-xl">04</p>
          <h3 class="text-lg lg:text-3xl font-light -tracking-[1px]">
            I want design for bedroom and living area, could it be done?
          </h3>
          <p class="ml-auto bg-white/20 p-2 px-4 rounded-full text-xl">+</p>
        </div>
        <div
          class="max-h-0 overflow-hidden opacity-0 group-hover:max-h-fit group-hover:opacity-100 group-hover:p-6 transition-all duration-300 ease-in-out"
        >
          <p class="text-sm w-[80%] mb-6">
            To ensure that each project reflects our vision and remains true to
            ZOOK's signature style, we do not accept partial projects, limited
            to specific areas of the home. We believe that a successful design
            requires consistency and aesthetic continuity throughout all spaces,
            and an integrated design allows us to deliver a harmonious and
            unified result. <br />
            Imagine a perfectly appointed living room and kitchen, but the rest of
            the house without the same standard – things would be out of sync. That's
            why we only collaborate on complete projects, where we can transform
            every detail, ensuring a flawless design from start to finish.
          </p>
        </div>
      </div>
      <div
        class="faq-question border-b border-white/30 group cursor-pointer hover:bg-white/10 transition-all duration-300 ease-in-out"
      >
        <div
          class="flex items-start gap-4 md:gap-10 py-6 group-hover:p-6 group-hover:pb-2 transition-all duration-300 ease-in-out"
        >
          <p class="text-white/50 font-light text-xl">05</p>
          <h3 class="text-lg lg:text-3xl font-light -tracking-[1px]">
            What is the optimal budget we should have?
          </h3>
          <p class="ml-auto bg-white/20 p-2 px-4 rounded-full text-xl">+</p>
        </div>
        <div
          class="max-h-0 overflow-hidden opacity-0 group-hover:max-h-fit group-hover:opacity-100 group-hover:p-6 transition-all duration-300 ease-in-out"
        >
          <p class="text-sm w-[80%] mb-6">
            The optimal budget for a complete home renovation varies depending
            on the surface area, finishes and complexity of the project. Each
            project is unique, but to give a clear picture of the investment
            required, we provide clients with case studies based on similar
            residential and commercial projects we have completed. This way,
            clients can understand exactly what services and results they get
            for the money they invest.
            <br />
            In general, for a complete renovation project, we recommend a budget
            that reflects the level of quality desired (medium, premium or luxury)
            and the type of finishes selected. This transparency helps set realistic
            expectations and ensure a stress-free design experience.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger, SplitText } from "gsap/all";
  gsap.registerPlugin(ScrollTrigger, SplitText);
  const scrollTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: ".section-faq",
      start: "top center",
    },
  });

  scrollTimeline.from(".faq-col-1", {
    opacity: 0,
    duration: 1,
    xPercent: -300,
    ease: "expo.out",
  });
</script>
