<footer class="footer bg-black text-white pt-20 mb-10">
  <div class="md:px-10">
    <div class="text-center">
      <div class="text-center">
        <h2 class="h2-footer text-3xl md:text-2xl font-bold">Our Vision</h2>
        <p
          class="para-footer mt-2 text-md md:text-sm w-[50%] md:w-[40%] mx-auto mb-20 md:mb-0"
        >
          Zook studio is more than just a bussiness, it's a testament to our
          shared desire and commitment to transforming space into captive
          stories.
        </p>
        <h1
          class="w-full logo-footer uppercase text-6xl md:text-[200px] font-bold mb-20 md:mb-0"
        >
          zook studio
        </h1>
      </div>
      <div class="flex items-center justify-center">
        <ul class="nav-footer flex items-center gap-8 text-gray-400">
          <li><a href="/" class="hover:underline">Home</a></li>
          <li><a href="/about" class="hover:underline">About</a></li>
          <li><a href="/contact" class="hover:underline">Contact</a></li>
          <li><a href="/projects" class="hover:underline">Projects</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger, SplitText } from "gsap/all";
  gsap.registerPlugin(ScrollTrigger, SplitText);
  const scrollTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: ".footer",
      start: "top 80%",
    },
  });
  const paraSplit = SplitText.create(".para-footer", { type: "lines,chars" });
  const h2Split = SplitText.create(".h2-footer", { type: "lines , chars" });
  const navFooterSplit = SplitText.create(".nav-footer li", { type: "lines" });

  scrollTimeline.from(h2Split.lines, {
    opacity: 0,
    duration: 1,
    yPercent: 100,
    ease: "expo.out",
    stagger: 0.02,
  });

  scrollTimeline.from(
    paraSplit.lines,
    {
      opacity: 0,
      duration: 1,
      yPercent: 100,
      ease: "expo.out",
      stagger: 0.02,
    },
    "-=70%"
  ); // Starts when h2 is 70% complete

  scrollTimeline.from(
    navFooterSplit.lines,
    {
      opacity: 0,
      duration: 1,
      yPercent: 100,
      ease: "expo.out",
      stagger: 0.2,
    },
    "-=70%"
  ); // Starts when para is 70% complete
</script>
