---
import { FaChair } from "react-icons/fa6";
import { IoCloseCircle } from "react-icons/io5";
---

<nav class="fixed w-full top-2 left-[50%] -translate-x-[50%] z-100">
  <div class="flex items-center justify-center">
    <div
      class="w-fit flex items-center gap-2 px-4 py-2 bg-black/50 border border-white/60"
    >
      <h2 class="text-3xl font-semibold text-white">ZOOK</h2>
      <div class="text-red-700 cursor-pointer open-btn">
        <FaChair size={25} />
      </div>
    </div>
  </div>
  <div
    class="absolute -top-120 w-full bg-[#f5f5f5] py-4 px-6 transition-all duration-900 ease-in-out"
  >
    <header class="flex items-center justify-between mb-12">
      <h1 class="text-black text-6xl font-bold">ZOOK</h1>
      <div class="close-btn flex items-center gap-2 cursor-pointer group">
        <p
          class="font-bold group-hover:-mr-2 transition-all duration-300 ease-out"
        >
          Close
        </p>
        <div
          class="group-hover:text-black text-gray-400 transition-all duration-300 ease-out"
        >
          <IoCloseCircle size={30} />
        </div>
      </div>
    </header>

    <div class="flex items-center justify-between mb-14">
      <p class="text-black text-5xl w-1/4 mt-4 font-light">
        When reality looks better than renders.
      </p>
      <ul class="w-[40%] grid grid-cols-2 gap-y-2 gap-x-8">
        <li class="text-black text-4xl border-b border-gray-300 cursor-pointer">
          <a href="/">Home</a>
        </li>
        <li class="text-black text-4xl border-b border-gray-300 cursor-pointer">
          <a href="/how-we-work">How we work</a>
        </li>
        <li class="text-black text-4xl border-b border-gray-300 cursor-pointer">
          <a href="/about">About Us</a>
        </li>
        <li class="text-black text-4xl border-b border-gray-300 cursor-pointer">
          <a href="/contact">Contact</a>
        </li>
        <li class="text-black text-4xl border-b border-gray-300 cursor-pointer">
          <a href="/projects">Projects</a>
        </li>
        <li class="text-black text-4xl border-b border-gray-300 cursor-pointer">
          <a href="/media">Media</a>
        </li>
      </ul>
    </div>

    <div class="border-b-4 inline-block">
      <div class="flex gap-5 items-center py-2 px-6">
        <div class="flex items-center gap-2">
          <span class="text-sm font-bold">Email : </span>
          <p>Zook@interiors.com</p>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-sm font-bold">Phone : </span>
          <p>+91 90990 909990</p>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  function handleMenu() {
    const menu = document.querySelector("nav div.absolute");
    if (menu?.classList.contains("-top-200")) {
      menu.classList.remove("-top-200");
      menu.classList.add("top-0");
    } else {
      menu?.classList.remove("top-0");
      menu?.classList.add("-top-200");
    }
  }

  document.querySelector(".open-btn")?.addEventListener("click", () => {
    handleMenu();
  });
  document.querySelector(".close-btn")?.addEventListener("click", () => {
    handleMenu();
  });
</script>
